<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="form-container">
    <ion-card class="card-3d">
      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <ion-item class="item-3d">
            <h2>Usuario</h2>
            <ion-label position="floating"></ion-label>
            <ion-input formControlName="username" type="text" placeholder="Introduce tu nombre de usuario"></ion-input>
          </ion-item>
          <div *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)" class="error-message">
            El nombre de usuario es requerido.
          </div>

          <ion-item class="item-3d">
            <h2>Contraseña</h2>
            <ion-label position="floating"></ion-label>
            <ion-icon class="password-eye" [name]="passwordIcon" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
            <ion-input [type]="passwordInputType" formControlName="password" placeholder="Introduce tu contraseña"></ion-input>
          </ion-item>
          <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="error-message">
            La contraseña es requerida.
          </div>

          <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

          <div *ngIf="loading" class="loading-overlay">
            <div class="custom-spinner"></div>
            <h3 class="loading-text">Cargando...</h3>
          </div>

          <ion-button expand="full" type="submit" [disabled]="loading" class="button-3d">Iniciar Sesión</ion-button>
          <ion-button expand="full" color="light" (click)="navigateToResetPassword()" class="button-3d">¿Olvidaste tu contraseña?</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
